Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  modernize-use-bool-literals,
  modernize-use-nullptr,
  modernize-use-override,
  readability-braces-around-statements,
  readability-container-size-empty,
  readability-redundant-control-flow,
  readability-redundant-declaration,
  readability-simplify-boolean-expr,
  readability-static-accessed-through-instance
HeaderFilterRegex: '^(src|tests)/.*'
FormatStyle: none
