# Build artifacts
build/
out/

# Conan
conan.lock
conanbuild*
conanrun*

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
CMakeUserPresets.json

# Python
__pycache__/
.pytest_cache/
.ruff_cache/
*.pyc
.venv/
.python-packages/


# Data
data/

# Editors and OS files
.vscode/
.idea/
.DS_Store

# Node artifacts
visualizer/node_modules/
visualizer/package-lock.json

# Tests artifacts
Testing/*
